
.container {
    margin-top: 20px;
    margin-left: 48px;

    .container-title {
        display: flex;
        justify-content: center;
        margin-top: 0;
        font-size: 30px;
    }

    .main-content {
        display: flex;


        .main-content_photo {
            flex-basis: 35vw;
            
            img {
                width: 400px;
                height: 650px;
            }
        }

        .main-content_film-description {
            flex-basis: 65vw;
            flex-wrap: wrap;
            display: flex;
            flex-direction: column;

            span {
                margin-top: 20px;

                a {
                    margin-left: 10px;
                    padding: 10px;
                    background-color: #39CCCC;
                    border-radius: 3px; 

                    &:first-child {
                        margin-left: 0px;
                    }
                }

                &:first-child {
                    margin-top: 0px; 
                }
            }
        }
    }

}

.greenRating {
    color: green;
}

.yellowRating {
    color: yellow;
}

.redRating {
    color: red;
}