.container {
    display: flex;
    height: 55px;
    align-items: center;
    background: -webkit-linear-gradient(to right, #56ab2f, #a8e063); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #56ab2f, #a8e063);

    a:first-child {
        margin-left: 35px;
    }
}


.navbar {
    display: flex;
    margin-left: 40vw;


    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: center;
    }

    li {
        font-family: 'Oswald', sans-serif;
        display: inline-block;
    }

    li:not(:last-child) {
        margin-right: 30px;
    }
}

.user-block {
    margin-left: auto;
    margin-right: 4%;

    a:first-child {
        margin-right: 50px;
    }
}