.container {
    background: #2b2b2b;
    padding: 1px 0 0 0;
    box-sizing: border-box;
    font-family: HelveticaNeueLT-Bold,"Helvetica Neue",Helvetica,Arial,sans-serif;
    min-width: 12vw;
}

.card {
    display: flex;
    height: 48px;
    padding-left: 10px;
    align-items: center;
    color: #CCCCCC;
    border-left: 5px solid #2b2b2b;

    a {
        color: #cccccc;
        text-decoration: none;
    }

    &:hover {
        background-color: #222;
        border-left: 5px solid red;
    }
}

.active-link {
    background-color: #222;
    border-left: 5px solid red;
}

