<div class="pagination" 
[ngStyle]="{
  'margin-top': marginTop +'px',
  'margin-left': marginLeft +'px',
  'margin-bottom': marginBottom +'px'
  }">
  <button (click)="changePage('firstPage')" [disabled]="currentPage ===1">First page</button>
  <button (click)="changePage('previousPage')" [disabled]="currentPage === 1">Previous</button>
  <button 
  class="pagination__current-page"
  [ngClass]="{
    'active':pageNum === currentPage
  }"
  *ngFor="let pageNum of arrayOfPages" 
  (click)="changePage('currentPage', pageNum)"
  >
  {{pageNum}}
  </button>
  <button (click)="changePage('nextPage')" [disabled]="totalPages === currentPage">Next</button>
  <button (click)="changePage('lastPage')" [disabled]="totalPages === currentPage">Last page</button>
</div>