
.pagination {
    width: 460px;

    button {
        height: 30px;
        border: 0.5px solid;
        background-color: inherit;
        cursor: pointer;

        &:first-child {
            border-radius: 4px 0px 0px 4px;
        }

        &:last-child {
            border-radius: 0px 4px 4px 0px;
        }

        &:hover {
            background: #00BFFF;
        }
    }

}

.pagination__current-page {
    width: 30px;
    height: 30px;
}

.active {
    background-color:  #00BFFF !important;
}