<div class="pagination" 
[ngStyle]="{
  'margin-top': marginTop +'px',
  'margin-left': marginLeft +'px',
  'margin-bottom': marginBottom +'px'
  }">
  <button (click)="changePage('firstPage')">First page</button>
  <button (click)="changePage('previousPage')">Previous</button>
  <button 
  class="pagination__current-page"
  [ngClass]="{
    'active':pageNum === currentPage
  }"
  *ngFor="let pageNum of arrayOfPages" 
  (click)="changePage('currentPage', pageNum)"
  >
  {{pageNum}}
  </button>
  <button (click)="changePage('nextPage')" >Next</button>
  <button (click)="changePage('lastPage')">Last page</button>
</div>